/* accountOperations.module.css */

:root {
  --primary-color: #007bff;
  --secondary-color: #28a745;
  --background-color: #f8f9fa;
  --white-color: #ffffff;
  --text-color: #343a40;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: var(--background-color);
  padding: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--text-color);
}

.inputs {
  display: grid;
  gap: 20px;
}

label {
  font-weight: bold;
  color: var(--text-color);
}

input[type="number"],
input[type="text"],
select {
  width: 97%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--white-color);
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover {
  background-color: #0056b3;
}

.payback-container {
  margin-top: 20px;
}

.payback-text {
  font-size: 18px;
  color: var(--text-color);
}

.payback-button {
  margin-top: 10px;
  background-color: var(--secondary-color);
}
